@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  overflow-x: hidden;
  font-family: Roboto, sans-serif;
  letter-spacing: 1px;
  font-size: 1.3rem;
}

.main {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inner {
  background-image: linear-gradient(
    rgba(191, 123, 21, 0.632),
    rgba(203, 179, 58, 0.648)
  );
  padding: 20px;
  border-radius: 12px;
  box-shadow: 4px 4px 9px rgb(81, 81, 81);
  transition: transform 0.6s;
}
.inner:hover {
  transform: scale(1.05);
}
.title {
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 10px rgb(157, 157, 157);
  margin-bottom: 2vh;
}
input {
  border-radius: 50px;
  font-size: 1.3rem;
  margin-bottom: 2vh;
  padding: 10px;
  border: none;
}
label {
  margin-bottom: 10px;
  font-weight: bold;
}
label span {
  color: rgb(211, 0, 0);
}
.btn {
  text-align: center;
  min-width: 10vw;
  height: 5vh;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 3px 3px 6px rgb(127, 127, 127);
  border: none;
  margin: 1.5vh 0px;
  background-color: rgb(189, 79, 67);
  color: white;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0px auto;
  transition: ease-in 0.2s;
}
.btn:hover {
  background-color: rgb(143, 39, 13);
}
.result {
  margin-top: 2vh;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 10px rgb(157, 157, 157);
  font-size: 1rem;
}
.CI {
  margin-top: 2vh;
  text-align: center;
}
.CI a {
  text-decoration: none;
}
@media (max-width: 420px) {
  .container {
    padding: 3rem;
  }
}
